body{
background-color: burlywood;
font-family: "Roboto", sans-serif;
}
.menu{
    color: purple;
    text-align: center;
    border-radius: solid;
    width: 100%;

}
.divPlato{
    border-radius: 8px;
    background-color: lightgray;
    width: 225px;
    height: 350px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.nombrePlato{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 50px;
}
.precio{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.nombrePlato{
    text-align: center;

}
.imagenPlato{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.descPlato{
    text-align: center;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    
}
h2, h1{
    color: purple;
    text-align: center;
    text-decoration: underline;
}
form{
    width: fit-content;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: lightgray;
}
label {
    display: block;
}
#btnRegistro{
    margin-top: 15px;
}